body{
  background-color: black;
}

p{
  color: silver;
  font-size: 18px;
}

.brand-image{
  height: 50px;
  width: 50px;
}

.menu-list{
  margin-top: 20px;
}

.navbar-pos{
  margin-top: 15px
}

.intro{
  padding-top: 100px;
  background-image: url(../img/poverty.jpg);
  background-size: cover;
  height: 650px;
}

.africa{
  font-size: 150px;
  color: #e60022;
}

.speaks{
  font-size: 100px;
  color: #04ad1f;
}

.story1, .story2, .story3, .story4, .story5{
  background-color: #4c494d;
  opacity: 1;
}

.story-images{
  border-radius: 25%;
  height: 200px;
  width: 160px;
  margin-left: 20px;
}

.contacts{
  color: red;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.contacts-p{
  text-align: center;
  font-size: 45px;
}

.kenya{
  height: 500px;
  width: 500px;
  margin-top: 75px;
  margin-left: 300px;
  margin-bottom: 300px;
}

.donate{
  margin-top: 12px;
  background-color: gold;
}

#don{
  text-align: center;
  color: #e04e10;
}

#sucdon, #amn, #meth, #ydts, #select, #next2, #next4{
  display: none;
}

#sucdon {
  text-align: center;
  color: white;
  background-color: darkblue;
  border: 5px solid blue;
  width: 400px;
  margin-left: 350px;
  margin-top: 200px;
}

#onet, #options{
  background-color: maroon;
  color: cyan;
  height: 50px;
  width: 200px;
}

#story1, #story2, #story3, #story4, #story5, #story6, #story7{
  margin-top: 10px;
}

#imgstory1, #imgstory2, #imgstory3, #imgstory4, #imgstory5, #imgstory6, #imgstory7{
  border: 9px solid #E7DAD5;
  height: 400px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#support{
  margin-bottom: 25px;
}

#bton1, #bton2, #bton3, #bton4, #bton5, #bton6{
  display: none;
}

#nw1, #nw2, #nw3, #nw4, #nw5, #nw6{
  display: none;
}

.news1, .news2, .news3, .news4, .news5, .news6{
  margin-top: 20px;
  text-align: center;
}

.paro, .paro2, .paro3{
  margin-bottom: 10px;
  margin-top: 10px;
}

#pov{
  color: white;
  text-align: center;
}

.all-stories{
  color: #0af4d7;
}

.interview{
  text-align: center;
}

.text1, .text2, .text3, .text4{
  margin-bottom: 75px;
}

.about, #us{
  margin-top: 100px;
  text-align: center;
  color: #cb7741;
}

.ours, .copyright{
  margin-top: 300px;
}

.more{
  margin-top: 10px;
}

#us, .intro{
  background-size:cover;
  background-image: url();
}
