.top {
  width: 1270px;
  height: 150px;
  background-color: white;
  margin-top: 0px;
  margin-left: -60px;
}

.navs {
  margin-left: 400px;
}

.udaku {
  margin-left: -300px;
  padding-top: 10px;
}

.icons {
  margin-left: 300px;
}

.icon:hover {
  color: blue;
  background-color: black;
}

. #story {
  display: none;
}

.co {
  margin-top: 40px;
}

.intro {
  background-image: url(poverty.jpg);
  background-size: cover;
  height: 500px;
  padding-top: 60px;
  margin-left: -111px;
  margin-right: -110px;
}
.news{
  color: red;
  font-size: 100px;

}
.new{
  color: black;
  font-size: 150px;
}
#bottomdiv{
  background-color:rgb(165, 18, 62);
  height: 900px;
  margin-left: -110px;
  margin-right: -110px;
}
.paro {
  width: 400px;
  margin-left: 30px;
  color: black;
  border: 5px solid white;
  border-bottom: -30px;
  background-color: white;
  margin-top: 10px;
}
#nw1 {
  display: none;
  color: white;
}
#nw2 {
  display: none;
  color: white;
}
#nw3 {
  display: none;
  color: white;
}
#nw4 {
  display: none;
  color: white;
}
#nw5 {
  display: none;
  color: white;
}
#nw6 {
  display: none;
  color: white;
}
.paro2 {
  width: 375px;
  height: -70px;
  margin-left: 30px;
  color: black;
  border: 5px solid white;
  border-bottom: -30px;
  background-color: white;
  margin-top: 10px;
}
.paro3 {
  width: 375px;
  height: -70px;
  margin-left: 30px;
  color: black;
  border: 5px solid white;
  border-bottom: -30px;
  background-color: white;
  margin-top: 10px;
}
h1 {
  color: white ! important;
  text-align: center;
}
